.loginForm {
    background: #F7F9FA;
    height: auto;
    width: 90%;
    margin: 5em auto;
    color: snow;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);


}

@media (min-width: 786px) {
    .loginForm {
        width: 60%;
    }
}

.label {
    color: #24B9B6;
    font-size: 1.2em;
    font-weight: 400;
}

.sectionBg {
    background-color: #508bfc;
}

.cardBorder {
    border-radius: 1rem;
}